body {
    background-color: #ffc54d90;
}

.custom-container {
    margin-top: 70px!important; 
    max-width: 1200px; /* Vous pouvez ajuster cette largeur en fonction de vos besoins */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 20px; 
    min-height: 85vh; 
}