/// FORM ///
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:24px; 
}
input, select{
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: $white;
}
select{
    font-size: 24px; 
    padding: 2px;
}

/// LOGIN FORM ///
.login-form{
    display: flex;
    flex-direction: column;
    width:80%; 
    margin:auto; 
    margin-top: 64px;
}

@media (min-width:768px) {
    .login-form{
        width:25%; 
    }
}

/// REGISTER FORM ///
.register-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 64px;
    .register-form-row{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .register-form{
        width:50%; 
    }
}

/// EVENT FORM ///
.event-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 24px;
    .event-form-row{
        display: flex;
        flex-direction: column;
        #category-button-group{
            display: flex;
            flex-wrap: wrap; 
            // justify-content: space-between; 
            .category-toggle-button{
                flex: 0 0 calc(100%);
                box-sizing: border-box;
                // margin: auto; 
            }
        }
    }
}

@media (min-width:768px) {
    .event-form{
        width:50%; 
    }
}

/// INVITE FORM ///

.invite-form{
    margin-top: 160px;
    .invite-form-row{
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 20px;
        }
        .select2-selection{
            border: none;
        }
    }
}

@media (min-width:768px) {
    .invite-form{
        margin: auto;
        margin-top: 160px;
        width:50%; 
    }
}

/// COMMENT FORM /// 

.comment-form {
    .comment-content-form {
        display: flex;
        flex-direction: column;
        textarea {
            height: 100px;
            font-family: 'Commissioner';
            font-size: 18px;
            border: none;
            padding: 8px;
            :hover {
                border: none;
            }
        }
    }
}

/// CATEGORY FORM /// 

.category-form {
    label {
        margin-right: 20px; 
    }
    input{
        width: 100%; 
    }
}

@media (min-width:768px) {
    .category-form{
        input{
            width: 40%; 
        }
        .btn-form {
            width: 50%;
        }
    }
}