/* Styles par défaut (mobile) */
.navbar {
  background-color: $green;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .navbar-content {
    margin-top: 0!important;
  }

  .menu-button {
    display: block;
    cursor: pointer;
    .bar {
      background-color: #fff;
      height: 3px;
      margin: 4px 0;
      width: 10%;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    background-color: $green;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    li {
      padding: 10px;
      text-align: center;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.notification-container {
  position: relative;
}

#notification-icon {
  cursor: pointer;
  position: relative;
  i {
    font-size: 24px;
  }
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

#notification-popup {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  background-color: white;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  li {
    color: black; 
    list-style: none;
  }
}

.hidden {
  display: none;
}

/* Styles pour les écrans de taille supérieure (tablette et desktop) */
@media (min-width: 768px) {
  .navbar {
    .navbar-content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .menu-button {
      display: none; /* Masquer le bouton du menu pour les écrans plus grands */
    }

    .menu {
      display: flex;
      position: static;
      flex-direction: row;
      background-color: transparent;
      margin: 0;
      width: auto;

      li {
        padding: 0 10px;

        a {
          font-weight: normal;
        }
      }
    }
  }
}



