{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel événement{% endblock %}

{% block body %}
<main class="custom-container" data-page='eventFormPage'>
    <header>
        <h1>Créer un nouvel événement</h1>
    </header>
    {{ include('account_event/_form.html.twig') }}
</main>
{% endblock %}
