{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="custom-container account">
    <header>
        <h1>Mon compte</h1>
    </header>
    <nav aria-label="Navigation de mon compte">
        <div class="account-index">
            <a href="{{ path('app_account_event_new') }}" title="Créer un nouvel évènement">Créer un évènement</a>
            <a href="{{ path('app_account_myevents') }}" title="Voir mes évènements">Mes évènements</a>
        </div>
    </nav>
</div>

{% endblock %}
