{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="custom-container">
    <div class="account-index">
        <a href="{{ path('app_account_event_new') }}">Créer un évènement</a>
        <a href="{{ path('app_account_myevents') }}">Mes évènements</a>
    </div>
</div>
{% endblock %}
