{# templates/event/invite.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inviter un utilisateur{% endblock %}

{% block body %}
<div class="custom-container">
{# <h2>Inviter un utilisateur à l'événement</h2> #}

    <div class="invite-form">
        {{ form_start(inviteForm) }}
            {{ form_widget(inviteForm) }}
        {{ form_end(inviteForm) }}
    </div>
</div>

{% endblock %}