
{% extends 'base.html.twig' %}

{% block title %}Inviter un utilisateur{% endblock %}

{% block body %}
<div class="custom-container">

    <div class="invite-form">
        {{ form_start(inviteForm) }}
            {{ form_widget(inviteForm) }}
        {{ form_end(inviteForm) }}
    </div>
</div>

{% endblock %}