{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement{{ parent() }}{% endblock %}

{% block body %}
<div class="custom-container">
    <h1>Détails de l'événement</h1>

    <p><strong>Titre :</strong> {{ event.title }}</p>
    <!-- Ajoutez ici d'autres informations de l'événement que vous souhaitez afficher -->
    {% if is_granted('IS_AUTHENTICATED_FULLY') and event.organisator == app.user %}
        <a href="{{ path('app_event_invite', {'id': event.id}) }}">Inviter un utilisateur</a>
    {% endif %}

</div>
{% endblock %}