{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
<div class="custom-container single-event">
    <div class="event-title">
        <h1>{{ event.title }}</h1>
        <p><i>Organisé par <strong>{{event.organisator.firstName }} {{ event.organisator.lastName}}</strong></i></p>
    </div>

    {% if app.user == event.organisator %}
        <div class="event-management">
            {% include 'event/includes/_event-management.html.twig' %}
        </div>
    {% endif %}

    <div class="single-event-img">
        {% include 'event/includes/_event-image.html.twig' %}
    </div>

    <div class="event-participation">
        {% include 'event/includes/_event-participation.html.twig' %}
    </div>

    <div class="event-description">
        {% include 'event/includes/_event-description.html.twig' %}
    </div>

    <div class="event-financial-contribution">
        {% include 'event/includes/_event-financial-contribution.html.twig' %}
    </div>

    <div class="event-participant-list">
        {% include 'event/includes/_event-participant-list.html.twig' %}
    </div>

</div>
{% endblock %}