{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}

<main class="custom-container" aria-labelledby="admin-section-title">
<header>
    <h1 id="admin-section-title">Espace Administrateur</h1>
</header>
    <nav class="admin-index" aria-label="Navigation de l'administrateur">
        <ul>
            <li>
                <a href="{{ path('app_admin_category_index') }}" aria-label="Gérer les catégories">Catégories</a>
            </li>
            <li>
                <a href="{{ path('app_admin_event_index') }}" aria-label="Gérer les évènements">Evènements</a>
            </li>
        </ul>
    </nav>
</main>

{% endblock %}