{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}

<div class="custom-container">
    <div class="admin-index">
        <a href="{{ path('app_admin_category_index') }}">Catégories</a>
        <a href="{{ path('app_admin_event_index') }}">Evènements</a>
    </div>
</div>
{% endblock %}
