<div class="financial-contribution-content">
{% if event.isIsFinancialParticipation %}
    <div class="financial-contribution-collected">
        <h3>Montant total collecté</h3>
        <p><stron>{{ event.totalAmountCollected }} €</strong></p>
    </div>
    {% if app.user and event.isIsFinancialParticipation() %}
    <div class="btn-contribute">
        <a href="{{ path('app_participation_contribute', { 'eventId': event.id }) }}" class="btn">
            Contribuer ({{ event.getFinancialParticipationAmount() }}€)
        </a>
        </div>
    {% endif %}
{% else %}
    <h3>Aucune contribution financière</h3>
{% endif %}
</div>