<a href="{{ path('app_myevent_delete', {'id': event.id}) }}" title="Supprimer">
    <i class="fas fa-trash-alt"></i>
</a>
<a href="{{ path('app_myevent_edit', {'id': event.id}) }}" title="Modifier">
    <i class="fas fa-pencil-alt"></i>
</a>