<div class="financial-contribution-content">
{% if event.isIsFinancialParticipation %}
    <section aria-labelledby="total-amount-collected">
        <h3 id="total-amount-collected">Montant total collecté</h3>
        <p><strong>{{ event.totalAmountCollected }} €</strong></p>
    </section>
    {% if not hasParticipated %}
        {% if app.user and event.isIsFinancialParticipation() %}
            <div class="btn-contribute" role="button">
                <a href="{{ path('app_participation_contribute', { 'eventId': event.id }) }}" class="btn" aria-label="Contribuer à l'événement avec {{ event.getFinancialParticipationAmount() }} euros">
                    Contribuer ({{ event.getFinancialParticipationAmount() }}€)
                </a>
            </div>
        {% endif %}
    {% else %}
        <p>Votre contribution à l'événement a été enregistrée</p>
    {% endif %}
{% else %}
    <h3>Aucune contribution financière</h3>
{% endif %}
</div>